@import '../../variables';

.file-input {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    color: $secondary-color;
    width: 100px;
    height: 100%;
    border-radius: 5px;
}

.long-file {
    font-size: 0.7rem;
}

.file-input:focus + .file-label {
    outline: 1px solid $cool-color;
    outline: -webkit-focus-ring-color auto 2px;
}

.profile-input {
    padding: 0 5px;
    font-size: 0.7rem;
    width: 120px;
}