.parameters {
    padding: 0 10%!important;
}

.parameters-picture {
    height: 150px;
    width: 150px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.error-msg {
    color: rgba(255, 0, 0, 0.5);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}