@import '../../variables';

.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input {
    + .file-label {
        font-weight: bold;
        color: $secondary-color;
        background-color: $primary-color;
        display: block;
        cursor: pointer;
        padding: 2%;
    }
}

.file-input + .file-label,
.file-input + .file-label:hover {
    background-color: $primary-color;
}