@import '../../variables';

.navbar-toggler {
  margin-left: auto;
}

.navbar-toggler-icon {
  color: $secondary-op!important;
}

#log-menu {
  margin-left: auto;
  font-size: 1.2rem!important;
}

.nav-link.active {
  color: $warm-color!important;
}

.nav-link {
  color: $warm-op!important;
  text-shadow: $dark-shadow;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

@media (max-width: 576px) {
  #log-menu {
    position: absolute;
    top: 0;
    right: 1rem;
  }

  .nav-link {
    background-color: rgba(250, 250, 250, 0.3) !important;
    backdrop-filter: blur(2px);
    padding-left: auto!important;
    border-radius: 5px;
  }
}
