.homepage {
  padding: 0% 10% !important;
}

.logo-header {
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
}

.posts-list {
  z-index: 3 !important;
  overflow-y: scroll;
  height: 90vh;
}

.posts-list::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.3);
}

.posts-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
}

.home-footer {
  z-index: -1 !important;
}

@media (max-width: 576px) {
  .homepage {
    padding: 0 !important;
  }

  .logo-header {
    justify-content: right !important;
  }
}

@media (max-width: 767px) {
  .search-bar {
    order: 3;
    width: 50vw !important;
  }

  .menu {
    justify-content: right !important;
  }
}

@media (max-width: 930px) {
  .footer {
    position: inherit !important;
  }
}

@media (max-width: 1490px) {
  .side-posts {
    display: none;
  }
}
